body {
  background-color: #181818;
  min-height: 100%;
  overflow: auto;
}

.auth-box {
  max-width: 25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}